@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Roboto", sans-serif;
  background-color: "dark-blue";
}

/* :root {
  background-color: darkblue;
} */


/* Customize Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #02133a; /* Color of the scrollbar track (background) */
  border-radius: 6px; /* Add rounded corners to the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #12034be5; /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Add rounded corners to the scrollbar thumb */
  border: 3px solid #f0f0f0; /* Adds padding around the thumb, giving it a thicker appearance */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d35400; /* Darken the color of the thumb on hover for better visibility */
}

::-webkit-scrollbar-thumb:active {
  background-color: #c0392b; /* Change the thumb color when active (clicked) */
}
